#activite{
  /*----------------------------------------
  PARALLAX
 ----------------------------------------*/
  .card-image {
    height: 350px;
  }

  .card{
    margin-top: 50px;
    margin-bottom: 70px;
    height: 500px;
  }

    .para_activite{
    height: 300px;
  }


}