#activite{
  /*----------------------------------------
  PARALLAX
 ----------------------------------------*/
  .header_activite
  {
    min-height: 170px;
  }
  .parallax_mid_activite {
    min-height: 30px;
  }
  .card_picture {
    height: 350px;
  }

  .card{
    margin-top: 50px;
    margin-bottom: 70px;
    height: 500px;
  }

  .para_activite{
    height: 300px;
  }

}