#blog
{

  /*----------------------------------------
   PARALAX
  ----------------------------------------*/
  .header_blog
  {
    min-height: 170px;
  }

  .parallax-container
  {
    min-height: 30px;
  }

  /*----------------------------------------
   Css Cards
  ----------------------------------------*/
  .card_picture
  {
    margin-top: 15px;
    height: 350px;
  }

  .card{

    margin-top: 50px;
    margin-bottom: 30px;
    height: 500px;
  }

  .form_add
  {
    color: black;
  }
  .title_empty
  {
    color:greenyellow;
    text-align: center;
  }

}