#blog{

  @font-face{font-weight:normal;font-style:normal;font-family:'feathericons';/*src:url('../fonts/feathericons/feathericons.eot?-8is7zf');src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg')*/}
  *, *:after, *:before {box-sizing: border-box;}
  .grid{position:relative;margin:0 auto;padding:1em 0 4em;max-width:1000px;list-style:none;text-align:center}
  .grid figure{position:relative;float:left;overflow:hidden;margin:10px 1%;min-width:320px;max-width:480px;max-height:360px;width:48%;text-align:center;cursor:pointer}
  .grid figure img{position:relative;display:block;min-height:100%;max-width:100%;opacity:.8}
  .grid figure figcaption{padding:2em;color: #000000;text-transform:uppercase;font-size:2em;-webkit-backface-visibility:hidden;backface-visibility:hidden}
  .grid figure figcaption::before,.grid figure figcaption::after{pointer-events:none}
  .grid figure figcaption,.grid figure figcaption>a{position:absolute;top:0;left:0;width:100%;height:100%}
  .grid figure figcaption>a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0}
  .grid figure h2{word-spacing:-0.15em;font-weight:300}
  .grid figure h2 span{font-weight:800}
  .grid figure h2,.grid figure p{margin:0}
  .grid figure p{letter-spacing:1px;font-size:68.5%}

  @media screen and (max-width:50em)
  {
    .grid figure{display:inline-block;float:none;margin:10px auto;width:100%}
  }

  /*figure.effect-bubba{background:#9e5406}*/
  figure.effect-bubba img{opacity:1;-webkit-transition:opacity .35s;transition:opacity .35s}
  figure.effect-bubba:hover img{opacity:.4}
  figure.effect-bubba figcaption::before,figure.effect-bubba figcaption::after{position:absolute;top:30px;right:30px;bottom:30px;left:30px;content:'';opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s}
  figure.effect-bubba figcaption::before{border-top:2px solid #000000;border-bottom:2px solid #000000;-webkit-transform:scale(0,1);transform:scale(0,1)}
  figure.effect-bubba figcaption::after{border-right:2px solid #000000;border-left:2px solid #000000;-webkit-transform:scale(1,0);transform:scale(1,0)}
  figure.effect-bubba h2{padding-top:30%;opacity:0;-webkit-transition:-webkit-transform .35s;transition:transform .35s;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}
  figure.effect-bubba p{padding:0 2.5em;opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}
  figure.effect-bubba:hover figcaption::before,figure.effect-bubba:hover figcaption::after{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
  figure.effect-bubba:hover h2,figure.effect-bubba:hover p{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}


  .effect-bubba , img
 {

 }

  .img_card {
    width: 100%;
  }

  figcaption, p {
    font-size: small;
  }

  /*----------------------------------------
   PARALAX
  ----------------------------------------*/

  .parallax-container {
    min-height: 30px;
  }

  /*----------------------------------------
   XXX
  ----------------------------------------*/
  .container_custom{

  }

  .card-image {
    height: 350px;
  }

  .card{
    margin-top: 50px;
    margin-bottom: 30px;
    height: 500px;
  }

  .form_add {
    color: black;
  }


}