#blog{
  /*----------------------------------------
   PARALAX
  ----------------------------------------*/

  .parallax-container {
    min-height: 30px;
  }

  /*----------------------------------------
   XXX
  ----------------------------------------*/
  .container_custom{

  }

  .card_image{
    height: 350px;
    padding: 10px;
  }

  .card{
    border-top: darkgreen solid 1px;
    border-bottom: darkgreen solid 1px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .seb_title{

  }
}