#booking{
  .parallax_booking{
    min-height: 250px;
  }
  .text_perso {
    color: #80cbc4
  }
  .col_table{
    padding: 0px 10px!important;
    float: none!important;
  }
  table{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .info_content{
    text-align: center;
  }
  .place{
    font-weight: 900;
    text-transform: uppercase;
  }
  .btn_modal{
    margin: 15px auto;
    display: block;
    width: 300px;
  }
  .big_container_custom{
    margin: 10px;
    width: auto;
    max-width: 98%;
  }
}