#errors {
  /*----------------------------------------
   PARALAX
  ----------------------------------------*/
  .parallax-container
  {
    min-height: 500px;
  }

  p
  {
    text-align: center;
    font-size: large;
  }

}