#events{
  /*----------------------------------------*\
    6.EVENTS
\*----------------------------------------*/

  .p_justify{
    text-align: justify;
  }
  .text_perso_events{
    color: #4db6ac;
  }
  .text_teal_events{
    color: #009688
  }
}