#footer{
  .container_copyright{
    text-align: center;
  }
  .footer_title{
    text-align: center;
    font-weight: 100;
    letter-spacing: 5px;
  }
  .p_center{
    text-align: center;
  }
  .contact_us{
    background-color: rgba(255,255,255, .6);
    padding: 1px;
    width: 130px;
    border-radius: 7px;
    transition: all .3s;
    display: block;
    margin: auto;
    font-weight: 500;
  }
  .contact_us:hover{
    background-color: rgba(255,255,255, .8);
    transition: all .3s;
  }
  .logo_container{
    display: flex;
    justify-content: center;
  }
  .logo{
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    transition: all .3s;
  }
  .logo:hover{
    opacity: .6;
    transition: all .3s;
  }
}