/*----------------------------------------*\
    1.GLOBAL
\*----------------------------------------*/


/*----------------------------------------*\
    2.HEADER
\*----------------------------------------*/


/*----------------------------------------*\
    3.HOMEPAGE
\*----------------------------------------*/


/*----------------------------------------*\
    4.NOUS
\*----------------------------------------*/


/*----------------------------------------*\
    5.ACTUALITES & INTERVENANTS
\*----------------------------------------*/


/*----------------------------------------*\
    6.EVENTS
\*----------------------------------------*/


/*----------------------------------------*\
    7.PRODUITS
\*----------------------------------------*/


/*----------------------------------------*\
    8.CONTACT
\*----------------------------------------*/


/*----------------------------------------*\
    9.FOOTER
\*----------------------------------------*/


/* FONT */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Marmelad');

.title_categories
{
    text-align: left;
    font-size: 3em;
    color:#80cbc4;
}
h3
{
    color: white;
    font-size: 60px;
}

/* VARIABLES */

$orange: orangered;

/* MIXING */



/* GLOBAL */

p {
    line-height: 2rem;
    text-align: justify;
}

.home_all
{
    width: 100%;
    height: 0;
    position: relative;
    background-image: none;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fleche_img
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    position: fixed;
    right: -100px;
    bottom: 150px;
    border-radius: 25px 0 0 25px;
}
.fleche_img:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
/*----------------------------------------*\
    BUTTON MENU
\*----------------------------------------*/
.row .col.s1
{
    font-weight: bold;
    font-size: large;
    left:inherit;
    right:inherit;
}

.menu-btn
{
    position: absolute;
    margin-left: auto;
    margin-right:auto;
    background-image: url('http://image.noelshack.com/fichiers/2017/28/1/1499678536-image-2mains-petite.png');
    background-color: rgba(0,0,0, 0);
    background-size: cover;
    height: 50px;
    width:50px!important;
    border-bottom: none!important;
    transition: .5s;
    border-radius: 50%;

}
.menu-btn:hover{
    background-color: rgba(0,0,0, .1);
    height: 55px;
    width: 55px!important;
    transition: .5s;
}
.menu_text{
    margin: 50px auto 0px -13px;
    color:black;
    position: fixed;
    font-weight: bold;
    text-transform: uppercase;
    width: 50px;
    font-size: 17px;
    transition: .5s;
    letter-spacing: 0px;

}
.menu-btn:hover .menu_text{
    transition: .5s;
    color: #00a248;
    margin: 50px auto 0px -11px;
    letter-spacing: 2px;
}
.btn_menu_index{
    width: 100px!important;
    height: 100px!important;
}
.btn_menu_index:hover{
    height: 110px!important;
    width: 110px!important;
    background-color: rgba(0,0,0, .3);
}
.menu-btn:hover .menu_text_index{
    transition: .5s;
    color: #00a248;
    margin: 50px auto 0px -11px;
    letter-spacing: 2px;
}
.menu_text_index{
    margin: 100px auto 0px -66px;
    width: 100px;
    font-size: 36px;

}
html>body .menu-btn
{
    position: fixed;
}

//.scroll {
//    position: relative;
//}
//
//.no_scroll {
//    position: fixed;
//    bottom: 0;
//    width: 100%;
//}

/*----------------------------------------*\
    PARALLAX
\*----------------------------------------*/

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }

}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}



/*----------------------------------------*\
     CARDS HOVER
\*----------------------------------------*/

.block_text_card_picture{
    background-color: rgba(255,255,255, 0);
    min-height: 100%;
    min-width: 100%;
    transition: .5s;
}
.card_picture:hover .block_text_card_picture{
    background-color: rgba(255,255,255, .4);
    transition: .5s;
}
.text_card_picture{
    opacity: 0;
    transition: .5s;
    text-align: center;
    display: block;
    text-transform: uppercase;
    position: relative;
    color: black!important;
}
.big_text_card_picture{
    top: 38%;
    font-size: 30px;
    font-weight: 300;
}
.medium_text_card_picture{
    font-size: 20px;
    font-weight: 500;
    top: 40%;
}
.card_picture:hover .text_card_picture{
    opacity: 1;
    transition: .5s;
}
.event_parallax {
    min-height: 50px;
}
.h2_events{
    text-align: center;
}
/*----------------------------------------*\
    NAVIGATION PRODUCT, EVENT, ACTIVITE
\*----------------------------------------*/
.products_navigation {
    position: fixed;
    margin-top: 20vh;
    z-index: 2;
}
.nav_word {
    display: block;
    margin-top: 10px;
    opacity: 1;
    transition: .3s;
    padding: 7px 15px 7px 15px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0px 10px 10px 0px;
    color: white;
}
.nav_word:hover {
    transition: .3s;
    background-color: rgba(0, 0, 0, .7);
}