.home_index {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1444927714506-8492d94b4e3d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=067f0b097deff88a789e125210406ffe);
    background-size: cover;
    background-position: center center;
}