#products {
  .parallax-container
  {
    min-height: 170px;
  }
  .header_product
  {
    min-height: 170px;
  }
  .parallax_mid_product {
    min-height: 30px;
  }

  .card_picture {
    height: 200px;
    width: auto;
    display: block;
    margin: auto;
    transition: .5s all;
  }
  .products_parallax {
    min-height: 200px;
  }
  .text_perso_products {
    color: #80cbc4
  }
  .big_text_card_picture_product {
    top: 33%;
    font-size: 24px;
    font-weight: 300;
  }
  .medium_text_card_picture_product {
    font-size: 15px;
    font-weight: 500;
    top: 31%;
  }
  .card{
    z-index: 0;
  }
  .index_btn{
    z-index: 1;
  }
}