@charset "UTF-8";
/*----------------------------------------*\
    1.HEADER
\*----------------------------------------*/
/*----------------------------------------*\
    2.NOUS
\*----------------------------------------*/
/*----------------------------------------*\
    3.ACTUALITES
\*----------------------------------------*/
/*----------------------------------------*\
    4.EVENTS
\*----------------------------------------*/
/*----------------------------------------*\
    5.PRODUITS
\*----------------------------------------*/
/*----------------------------------------*\
    6.CONTACT
\*----------------------------------------*/
/*----------------------------------------*\
    7.FOOTER
\*----------------------------------------*/
/*----------------------------------------*\
    4.EVENTS
\*----------------------------------------*/
/*----------------------------------------*\
    1.HOMEPAGE
\*----------------------------------------*/
/*----------------------------------------*\
    2.nav
\*----------------------------------------*/
/*----------------------------------------*\
    3.
\*----------------------------------------*/
/*----------------------------------------*\
    4.blog + parallax
\*----------------------------------------*/
/*----------------------------------------*\
    5.
\*----------------------------------------*/
/*----------------------------------------*\
    1.HOMEPAGE
\*----------------------------------------*/
/*----------------------------------------*\
    2.nav
\*----------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);
/* line 68, ../scss/_global.scss */
.homepage img {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* line 75, ../scss/_global.scss */
.home {
  width: 100%;
  height: 0vh;
  position: relative;
  background-image: none;
  background-color: orangered;
  background-size: cover;
  background-position: center center;
}

/*----------------------------------------*\
    4.blog
\*----------------------------------------*/
/* line 98, ../scss/_global.scss */
.seb_card_image {
  height: 350px;
  padding: 10px;
}

/* line 103, ../scss/_global.scss */
.seb_card {
  border-top: darkgreen solid 1px;
  border-bottom: darkgreen solid 1px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/******************* CODE MATERIALIZE *************************************/
/***************************************************************************/
/* line 115, ../scss/_global.scss */
nav ul a,
nav .brand-logo {
  color: #444;
}

/* line 120, ../scss/_global.scss */
p {
  line-height: 2rem;
}

/* line 124, ../scss/_global.scss */
.button-collapse {
  color: #26a69a;
}

/* line 128, ../scss/_global.scss */
.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

/* line 135, ../scss/_global.scss */
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  /* line 140, ../scss/_global.scss */
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  /* line 145, ../scss/_global.scss */
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 152, ../scss/_global.scss */
  #index-banner .section {
    top: 0;
  }
}
/* line 157, ../scss/_global.scss */
.icon-block {
  padding: 0 15px;
}

/* line 161, ../scss/_global.scss */
.icon-block .material-icons {
  font-size: inherit;
}

/* line 165, ../scss/_global.scss */
footer.page-footer {
  margin: 0;
}

/* line 169, ../scss/_global.scss */
.img_box img {
  width: 300px;
  height: 200px;
  margin-top: 30px;
  margin-left: 40px;
}

/* ====================================
Navigation
==================================== */
/* line 5, ../scss/_nav_style.scss */
.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
  opacity: 0;
}

/* line 20, ../scss/_nav_style.scss */
nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  /* Arrière Plan Menu Burger*/
}

/* line 29, ../scss/_nav_style.scss */
nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

/* line 37, ../scss/_nav_style.scss */
nav ul li {
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  display: none;
}

/* line 55, ../scss/_nav_style.scss */
nav li a {
  position: relative;
  top: 46%;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0;
}

/* line 70, ../scss/_nav_style.scss */
nav li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 87, ../scss/_nav_style.scss */
nav li a:after {
  content: attr(data-content);
  font-size: 0.7rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}

/* line 111, ../scss/_nav_style.scss */
.onglet:hover:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* line 118, ../scss/_nav_style.scss */
.onglet:hover:after {
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 1;
}

/* line 128, ../scss/_nav_style.scss */
nav li:nth-of-type(1) {
  background-color: #29363B;
}

/* line 132, ../scss/_nav_style.scss */
nav li:nth-of-type(2) {
  background-color: #EA495F;
}

/* line 136, ../scss/_nav_style.scss */
nav li:nth-of-type(3) {
  background-color: #F4837D;
}

/* line 140, ../scss/_nav_style.scss */
nav li:nth-of-type(4) {
  background-color: #FDCEA9;
}

/* line 144, ../scss/_nav_style.scss */
nav li:nth-of-type(5) {
  background-color: #99B998;
}

/* ====================================
Burger king
==================================== */
/* line 153, ../scss/_nav_style.scss */
.open-overlay {
  position: absolute;
  right: 5rem;
  top: 3.2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
  background-color: orangered;
}

/* line 164, ../scss/_nav_style.scss */
.open-overlay span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

/* line 172, ../scss/_nav_style.scss */
.animate-top-bar {
  -webkit-animation: animate-top-bar .6s linear 1 both;
  animation: animate-top-bar 0.6s linear 1 both;
}

/* line 177, ../scss/_nav_style.scss */
.animate-bottom-bar {
  -webkit-animation: animate-bottom-bar .6s linear 1 both;
  animation: animate-bottom-bar 0.6s linear 1 both;
}

/* line 182, ../scss/_nav_style.scss */
.animate-middle-bar {
  -webkit-animation: animate-middle-bar .6s linear 1 both;
  animation: animate-middle-bar 0.6s linear 1 both;
}

/* line 187, ../scss/_nav_style.scss */
.animate-out-top-bar {
  -webkit-animation: animate-out-top-bar .6s linear 1 both;
  animation: animate-out-top-bar 0.6s linear 1 both;
}

/* line 192, ../scss/_nav_style.scss */
.animate-out-bottom-bar {
  -webkit-animation: animate-out-bottom-bar .6s linear 1 both;
  animation: animate-out-bottom-bar 0.6s linear 1 both;
}

/* line 197, ../scss/_nav_style.scss */
.animate-out-middle-bar {
  -webkit-animation: animate-out-middle-bar .6s linear 1 both;
  animation: animate-out-middle-bar 0.6s linear 1 both;
}

/* ====================================
Animation keyframes
==================================== */
@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}
@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}
@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363B;
  }
}
@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}
@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}
@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B;
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}
/* line 311, ../scss/_nav_style.scss */
.home a {
  font-family: "Work Sans", sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
}

@media (max-width: 640px) {
  /* line 327, ../scss/_nav_style.scss */
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 335, ../scss/_nav_style.scss */
  nav ul li {
    height: 20%;
  }

  /* line 339, ../scss/_nav_style.scss */
  nav ul li a {
    font-size: 11px;
  }

  /* line 343, ../scss/_nav_style.scss */
  nav li a:after {
    font-size: 0.6rem;
    bottom: -25px;
  }

  /* line 348, ../scss/_nav_style.scss */
  nav li a:hover:after {
    transform: translateY(0);
  }

  /* line 352, ../scss/_nav_style.scss */
  .open-overlay {
    right: 1rem;
  }

  /* line 356, ../scss/_nav_style.scss */
  nav li a:before {
    width: 25px;
  }
}
/*----------------------------------------*\
    1.HOMEPAGE
\*----------------------------------------*/
/* line 6, ../scss/_homepage.scss */
body {
  background-color: #fff;
}

/* line 10, ../scss/_homepage.scss */
.home_index {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1444927714506-8492d94b4e3d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=067f0b097deff88a789e125210406ffe);
  background-size: cover;
  background-position: center center;
}

/* line 1, ../scss/_nous.scss */
#nous {
   /*----------------------------------------*\
    1.NOUS PAGE
/******************* CODE MATERIALIZE *************************************/
  /***************************************************************************/
  /*----------------------------------------*\
      2.
  \*----------------------------------------*/
  /*----------------------------------------*\
      3.
  \*----------------------------------------*/
  /*----------------------------------------*\
      4.
  \*----------------------------------------*/
  /*----------------------------------------*\
      5.
  \*----------------------------------------*/
  /*----------------------------------------*\
      1.HOMEPAGE
  \*----------------------------------------*/
  /******************* CODE MENU BURGER *************************************/
  /***************************************************************************/
}
/* line 6, ../scss/_nous.scss */
#nous nav ul a,
#nous nav .brand-logo {
  color: #444;
}
/* line 11, ../scss/_nous.scss */
#nous p {
  line-height: 2rem;
}
/* line 15, ../scss/_nous.scss */
#nous .button-collapse {
  color: #26a69a;
}
/* line 19, ../scss/_nous.scss */
#nous .parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
/* line 26, ../scss/_nous.scss */
#nous .parallax-container .section {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  /* line 31, ../scss/_nous.scss */
  #nous .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  /* line 36, ../scss/_nous.scss */
  #nous #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 43, ../scss/_nous.scss */
  #nous #index-banner .section {
    top: 0;
  }
}
/* line 48, ../scss/_nous.scss */
#nous .icon-block {
  padding: 0 15px;
}
/* line 52, ../scss/_nous.scss */
#nous .icon-block .material-icons {
  font-size: inherit;
}
/* line 56, ../scss/_nous.scss */
#nous footer.page-footer {
  margin: 0;
}
/* line 60, ../scss/_nous.scss */
#nous .img_box img {
  width: 300px;
  height: 200px;
  margin-top: 30px;
  margin-left: 40px;
}
/* line 90, ../scss/_nous.scss */
#nous .homepage img {
  position: relative;
  width: 100%;
  height: 100vh;
}
/* line 97, ../scss/_nous.scss */
#nous .home {
  width: 100%;
  height: 0vh;
  position: relative;
  background-image: none;
  background-color: orangered;
  background-size: cover;
  background-position: center center;
}
