@charset "UTF-8";
/*----------------------------------------*\
   Font Title HomePage
\*----------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Marmelad");
@font-face {
  font-family: "SegoePrint";
  font-style: italic;
  src: url("../font/SegoePrint.ttf");
}
/*----------------------------------------*\
    1.GLOBAL
\*----------------------------------------*/
/*----------------------------------------*\
    1.GLOBAL
\*----------------------------------------*/
/*----------------------------------------*\
    2.HEADER
\*----------------------------------------*/
/*----------------------------------------*\
    3.HOMEPAGE
\*----------------------------------------*/
/*----------------------------------------*\
    4.NOUS
\*----------------------------------------*/
/*----------------------------------------*\
    5.ACTUALITES
\*----------------------------------------*/
/*----------------------------------------*\
    6.EVENTS
\*----------------------------------------*/
/*----------------------------------------*\
    7.PRODUITS
\*----------------------------------------*/
/*----------------------------------------*\
    8.CONTACT
\*----------------------------------------*/
/*----------------------------------------*\
    9.FOOTER
\*----------------------------------------*/
/* FONT */
/* line 52, ../scss/_global.scss */
.title_categories {
  text-align: left;
  font-size: 3em;
  color: #80cbc4;
}

/* line 58, ../scss/_global.scss */
h3 {
  color: white;
  font-size: 60px;
}

/* VARIABLES */
/* MIXING */
/* GLOBAL */
/* line 74, ../scss/_global.scss */
p {
  line-height: 2rem;
  text-align: justify;
}

/* line 79, ../scss/_global.scss */
.home_all {
  width: 100%;
  height: 0;
  position: relative;
  background-image: none;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* line 92, ../scss/_global.scss */
.fleche_img {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  position: fixed;
  right: -100px;
  bottom: 150px;
  border-radius: 25px 0 0 25px;
}

/* line 102, ../scss/_global.scss */
.fleche_img:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/*----------------------------------------*\
    BUTTON MENU
\*----------------------------------------*/
/* line 108, ../scss/_global.scss */
.row .col.s1 {
  font-weight: bold;
  font-size: large;
  left: inherit;
  right: inherit;
}

/* line 116, ../scss/_global.scss */
.menu-btn {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-image: url("http://image.noelshack.com/fichiers/2017/28/1/1499678536-image-2mains-petite.png");
  background-color: transparent;
  background-size: cover;
  height: 50px;
  width: 50px !important;
  border-bottom: none !important;
  transition: .5s;
  border-radius: 50%;
}

/* line 131, ../scss/_global.scss */
.menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  height: 55px;
  width: 55px !important;
  transition: .5s;
}

/* line 137, ../scss/_global.scss */
.menu_text {
  margin: 50px auto 0px -13px;
  color: black;
  position: fixed;
  font-weight: bold;
  text-transform: uppercase;
  width: 50px;
  font-size: 17px;
  transition: .5s;
  letter-spacing: 0px;
}

/* line 149, ../scss/_global.scss */
.menu-btn:hover .menu_text {
  transition: .5s;
  color: #00a248;
  margin: 50px auto 0px -11px;
  letter-spacing: 2px;
}

/* line 155, ../scss/_global.scss */
.btn_menu_index {
  width: 100px !important;
  height: 100px !important;
}

/* line 159, ../scss/_global.scss */
.btn_menu_index:hover {
  height: 110px !important;
  width: 110px !important;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 164, ../scss/_global.scss */
.menu-btn:hover .menu_text_index {
  transition: .5s;
  color: #00a248;
  margin: 50px auto 0px -11px;
  letter-spacing: 2px;
}

/* line 170, ../scss/_global.scss */
.menu_text_index {
  margin: 100px auto 0px -66px;
  width: 100px;
  font-size: 36px;
}

/* line 176, ../scss/_global.scss */
html > body .menu-btn {
  position: fixed;
}

/*----------------------------------------*\
    PARALLAX
\*----------------------------------------*/
/* line 195, ../scss/_global.scss */
.button-collapse {
  color: #26a69a;
}

/* line 199, ../scss/_global.scss */
.parallax-container {
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

/* line 204, ../scss/_global.scss */
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  /* line 209, ../scss/_global.scss */
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  /* line 214, ../scss/_global.scss */
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 221, ../scss/_global.scss */
  #index-banner .section {
    top: 0;
  }
}
/* line 226, ../scss/_global.scss */
.icon-block {
  padding: 0 15px;
}

/* line 230, ../scss/_global.scss */
.icon-block .material-icons {
  font-size: inherit;
}

/* line 234, ../scss/_global.scss */
footer.page-footer {
  margin: 0;
}

/*----------------------------------------*\
     CARDS HOVER
\*----------------------------------------*/
/* line 244, ../scss/_global.scss */
.block_text_card_picture {
  background-color: rgba(255, 255, 255, 0);
  min-height: 100%;
  min-width: 100%;
  transition: .5s;
}

/* line 250, ../scss/_global.scss */
.card_picture:hover .block_text_card_picture {
  background-color: rgba(255, 255, 255, 0.4);
  transition: .5s;
}

/* line 254, ../scss/_global.scss */
.text_card_picture {
  opacity: 0;
  transition: .5s;
  text-align: center;
  display: block;
  text-transform: uppercase;
  position: relative;
  color: black !important;
}

/* line 263, ../scss/_global.scss */
.big_text_card_picture {
  top: 38%;
  font-size: 30px;
  font-weight: 300;
}

/* line 268, ../scss/_global.scss */
.medium_text_card_picture {
  font-size: 20px;
  font-weight: 500;
  top: 40%;
}

/* line 273, ../scss/_global.scss */
.card_picture:hover .text_card_picture {
  opacity: 1;
  transition: .5s;
}

/* line 277, ../scss/_global.scss */
.event_parallax {
  min-height: 50px;
}

/* line 280, ../scss/_global.scss */
.h2_events {
  text-align: center;
}

/*----------------------------------------*\
    NAVIGATION PRODUCT, EVENT, ACTIVITE
\*----------------------------------------*/
/* line 286, ../scss/_global.scss */
.products_navigation {
  position: fixed;
  margin-top: 20vh;
  z-index: 2;
}

/* line 291, ../scss/_global.scss */
.nav_word {
  display: block;
  margin-top: 10px;
  opacity: 1;
  transition: .3s;
  padding: 7px 15px 7px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 10px 10px 0px;
  color: white;
}

/* line 301, ../scss/_global.scss */
.nav_word:hover {
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.7);
}

/*----------------------------------------*\
    2.HEADER
\*----------------------------------------*/
/* line 1, ../scss/_nav_style.scss */
.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: none;
  opacity: 0;
}

/* line 13, ../scss/_nav_style.scss */
.menu-btn a {
  font-size: x-large;
}

/* line 18, ../scss/_nav_style.scss */
nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  /* Arrière Plan Menu Burger*/
}

/* line 27, ../scss/_nav_style.scss */
nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

/* line 35, ../scss/_nav_style.scss */
nav ul li {
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  display: none;
}

/* line 53, ../scss/_nav_style.scss */
nav li a {
  position: relative;
  top: 46%;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0;
}

/* line 68, ../scss/_nav_style.scss */
nav li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 85, ../scss/_nav_style.scss */
nav li a:after {
  content: attr(data-content);
  font-size: 0.7rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}

/* line 109, ../scss/_nav_style.scss */
.onglet:hover:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* line 116, ../scss/_nav_style.scss */
.onglet:hover:after {
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 1;
}

/*
nav li:nth-of-type(1) {
  background-color: rgba(41, 54, 59, 0.75)

}

nav li:nth-of-type(2) {
  background-color: rgba(41, 54, 59, 0.75)
}

nav li:nth-of-type(3) {
  background-color: rgba(41, 54, 59, 0.75)
}

nav li:nth-of-type(4) {
  background-color: rgba(41, 54, 59, 0.75)
}

nav li:nth-of-type(5) {
  background-color: rgba(41, 54, 59, 0.75)
}
*/
/* line 150, ../scss/_nav_style.scss */
nav li:nth-of-type(1) {
  background-color: rgba(41, 54, 59, 0.75);
}

/* line 155, ../scss/_nav_style.scss */
nav li:nth-of-type(2) {
  background-color: rgba(41, 54, 59, 0.73);
}

/* line 159, ../scss/_nav_style.scss */
nav li:nth-of-type(3) {
  background-color: rgba(41, 54, 59, 0.69);
}

/* line 163, ../scss/_nav_style.scss */
nav li:nth-of-type(4) {
  background-color: rgba(41, 54, 59, 0.66);
}

/* line 167, ../scss/_nav_style.scss */
nav li:nth-of-type(5) {
  background-color: rgba(41, 54, 59, 0.59);
}

/* ====================================
Burger king
==================================== */
/* line 176, ../scss/_nav_style.scss */
.open-overlay {
  position: absolute;
  right: 5rem;
  top: 3.2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
}

/* line 186, ../scss/_nav_style.scss */
.open-overlay span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

/* line 194, ../scss/_nav_style.scss */
.animate-top-bar {
  -webkit-animation: animate-top-bar .6s linear 1 both;
  animation: animate-top-bar 0.6s linear 1 both;
}

/* line 199, ../scss/_nav_style.scss */
.animate-bottom-bar {
  -webkit-animation: animate-bottom-bar .6s linear 1 both;
  animation: animate-bottom-bar 0.6s linear 1 both;
}

/* line 204, ../scss/_nav_style.scss */
.animate-middle-bar {
  -webkit-animation: animate-middle-bar .6s linear 1 both;
  animation: animate-middle-bar 0.6s linear 1 both;
}

/* line 209, ../scss/_nav_style.scss */
.animate-out-top-bar {
  -webkit-animation: animate-out-top-bar .6s linear 1 both;
  animation: animate-out-top-bar 0.6s linear 1 both;
}

/* line 214, ../scss/_nav_style.scss */
.animate-out-bottom-bar {
  -webkit-animation: animate-out-bottom-bar .6s linear 1 both;
  animation: animate-out-bottom-bar 0.6s linear 1 both;
}

/* line 219, ../scss/_nav_style.scss */
.animate-out-middle-bar {
  -webkit-animation: animate-out-middle-bar .6s linear 1 both;
  animation: animate-out-middle-bar 0.6s linear 1 both;
}

/* ====================================
Animation keyframes
==================================== */
@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}
@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}
@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363B;
  }
}
@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}
@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}
@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B;
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}
/* line 333, ../scss/_nav_style.scss */
.home a {
  font-family: "Work Sans", sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
}

@media (max-width: 640px) {
  /* line 349, ../scss/_nav_style.scss */
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 357, ../scss/_nav_style.scss */
  nav ul li {
    height: 20%;
  }

  /* nav ul li a {
     font-size: 11px;            // TO DO// A delete à la fin du projet //
   }*/
  /* line 365, ../scss/_nav_style.scss */
  nav li a:after {
    font-size: 0.6rem;
    bottom: -25px;
  }

  /* line 370, ../scss/_nav_style.scss */
  nav li a:hover:after {
    transform: translateY(0);
  }

  /* line 374, ../scss/_nav_style.scss */
  .open-overlay {
    right: 1rem;
  }

  /* line 378, ../scss/_nav_style.scss */
  nav li a:before {
    width: 25px;
  }
}
/* ====================================
Responsive Menu Nav
==================================== */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 389, ../scss/_nav_style.scss */
  nav li a {
    position: relative;
    top: 46%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* line 406, ../scss/_nav_style.scss */
  nav li a {
    position: relative;
    top: 46%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1rem;
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 423, ../scss/_nav_style.scss */
  nav li a {
    position: relative;
    top: 0%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1rem;
    opacity: 0;
  }
}
/*----------------------------------------*\
    3.HOMEPAGE
\*----------------------------------------*/
/* line 1, ../scss/_homepage.scss */
.home_index {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../img/background/homepage.jpg");
  background-size: cover;
  background-position: top;
}

/* line 11, ../scss/_homepage.scss */
.titre {
  font-family: SegoePrint;
  position: relative;
  top: 150px;
  left: 0;
  margin-top: 0;
  font-size: 0;
}

/*----------------------------------------*\
    4.NOUS
\*----------------------------------------*/
/* line 1, ../scss/_nous.scss */
#nous {
  /*----------------------------------------
   PARALAX
  ----------------------------------------*/
  /*----------------------------------------
   Size Img
  ----------------------------------------*/
  /*----------------------------------------
   remove z-idex
  ----------------------------------------*/
}
/* line 6, ../scss/_nous.scss */
#nous .header_nous {
  min-height: 170px;
}
/* line 10, ../scss/_nous.scss */
#nous .parallax_mid {
  min-height: 450px;
}
/* line 14, ../scss/_nous.scss */
#nous .footer {
  min-height: 170px;
}
/* line 21, ../scss/_nous.scss */
#nous .img_box img {
  width: 300px;
  height: 200px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
  transition: 0.5s;
}
/* line 30, ../scss/_nous.scss */
#nous .img_box img:hover {
  width: 450px;
  height: 300px;
  transition: 0.5s;
}
/* line 36, ../scss/_nous.scss */
#nous p {
  line-height: 1.3rem;
}

/*----------------------------------------*\
    5.ACTUALITES
\*----------------------------------------*/
/* line 1, ../scss/_blog.scss */
#blog {
  /*----------------------------------------
   PARALAX
  ----------------------------------------*/
  /*----------------------------------------
   XXX
  ----------------------------------------*/
}
/* line 6, ../scss/_blog.scss */
#blog .header_blog {
  min-height: 170px;
}
/* line 11, ../scss/_blog.scss */
#blog .parallax-container {
  min-height: 30px;
}
/* line 18, ../scss/_blog.scss */
#blog .card_picture {
  height: 350px;
}
/* line 22, ../scss/_blog.scss */
#blog .card {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 500px;
}
/* line 28, ../scss/_blog.scss */
#blog .form_add {
  color: black;
}

/*----------------------------------------*\
    5.ACTIVITE
\*----------------------------------------*/
/* line 1, ../scss/_activite.scss */
#activite {
 /*----------------------------------------
 PARALLAX
----------------------------------------*/
}
/* line 5, ../scss/_activite.scss */
#activite .header_activite {
  min-height: 170px;
}
/* line 9, ../scss/_activite.scss */
#activite .parallax_mid_activite {
  min-height: 30px;
}
/* line 12, ../scss/_activite.scss */
#activite .card_picture {
  height: 350px;
}
/* line 16, ../scss/_activite.scss */
#activite .card {
  margin-top: 50px;
  margin-bottom: 70px;
  height: 500px;
}
/* line 22, ../scss/_activite.scss */
#activite .para_activite {
  height: 300px;
}
/* line 25, ../scss/_activite.scss */
#activite .card {
  z-index: 0;
}
/* line 28, ../scss/_activite.scss */
#activite .index_btn {
  z-index: 1;
}

/*----------------------------------------*\
    6.EVENTS
\*----------------------------------------*/
/* line 3, ../scss/_events.scss */
#events .header_event {
  min-height: 170px;
}
/* line 7, ../scss/_events.scss */
#events .parallax_mid_event {
  min-height: 30px;
}
/* line 11, ../scss/_events.scss */
#events .text_perso_events {
  color: #80cbc4;
}
/* line 14, ../scss/_events.scss */
#events .card_picture {
  transition: .5s;
  height: 350px;
  width: auto;
  display: block;
  margin: auto;
}
/* line 21, ../scss/_events.scss */
#events .add_stage_btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 25, ../scss/_events.scss */
#events .block_text_card_picture {
  background-color: rgba(255, 255, 255, 0);
  min-height: 100%;
  min-width: 100%;
  transition: .5s;
}
/* line 31, ../scss/_events.scss */
#events .card_picture:hover .block_text_card_picture {
  background-color: rgba(255, 255, 255, 0.4);
  transition: .5s;
}
/* line 35, ../scss/_events.scss */
#events .text_card_picture {
  opacity: 0;
  transition: .5s;
  text-align: center;
  display: block;
  text-transform: uppercase;
  position: relative;
  color: black !important;
}
/* line 44, ../scss/_events.scss */
#events .card_picture:hover .text_card_picture {
  opacity: 1;
  transition: .5s;
}
/* line 48, ../scss/_events.scss */
#events .card {
  z-index: 0;
}
/* line 51, ../scss/_events.scss */
#events .index_btn {
  z-index: 1;
}

/*----------------------------------------*\
    7.PRODUITS
\*----------------------------------------*/
/* line 3, ../scss/_products.scss */
#products .header_product {
  min-height: 170px;
}
/* line 7, ../scss/_products.scss */
#products .parallax_mid_product {
  min-height: 30px;
}
/* line 11, ../scss/_products.scss */
#products .card_picture {
  height: 200px;
  width: auto;
  display: block;
  margin: auto;
  transition: .5s all;
}
/* line 18, ../scss/_products.scss */
#products .products_parallax {
  min-height: 200px;
}
/* line 21, ../scss/_products.scss */
#products .text_perso_products {
  color: #80cbc4;
}
/* line 24, ../scss/_products.scss */
#products .big_text_card_picture_product {
  top: 33%;
  font-size: 24px;
  font-weight: 300;
}
/* line 29, ../scss/_products.scss */
#products .medium_text_card_picture_product {
  font-size: 15px;
  font-weight: 500;
  top: 31%;
}
/* line 34, ../scss/_products.scss */
#products .card {
  z-index: 0;
}
/* line 37, ../scss/_products.scss */
#products .index_btn {
  z-index: 1;
}
/* line 40, ../scss/_products.scss */
#products .card-title {
  font-size: 17px !important;
}

/*----------------------------------------*\
    8.CONTACT
\*----------------------------------------*/
/* line 1, ../scss/_contact.scss */
#contact {
  /*----------------------------------------
   PARALAX
  ----------------------------------------*/
  /*----------------------------------------
   Size Img
  ----------------------------------------*/
}
/* line 5, ../scss/_contact.scss */
#contact .input-field .prefix {
  margin-left: 30px;
}
/* line 9, ../scss/_contact.scss */
#contact .input-field.col label {
  margin-left: 30px;
}
/* line 14, ../scss/_contact.scss */
#contact .parallax-container {
  min-height: 300px;
}
/* line 18, ../scss/_contact.scss */
#contact .form .mail {
  margin-bottom: 0;
}
/* line 22, ../scss/_contact.scss */
#contact #div_mail #div_message {
  padding: 0;
}
/* line 26, ../scss/_contact.scss */
#contact p {
  text-align: center;
}
/* line 29, ../scss/_contact.scss */
#contact .contact {
  color: black;
}
/* line 35, ../scss/_contact.scss */
#contact .google-maps {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: -20%;
}
/* line 45, ../scss/_contact.scss */
#contact .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 50% !important;
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  /* line 57, ../scss/_contact.scss */
  #contact .google-maps {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: -20%;
  }
  /* line 67, ../scss/_contact.scss */
  #contact .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  /* line 74, ../scss/_contact.scss */
  #contact .adress {
    font-size: smaller;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 80, ../scss/_contact.scss */
  #contact .adress h4 {
    font-size: 25px;
  }
}
@media screen and (max-width: 349px) {
  /* line 88, ../scss/_contact.scss */
  #contact .google-maps {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: -20%;
  }
  /* line 98, ../scss/_contact.scss */
  #contact .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  /* line 105, ../scss/_contact.scss */
  #contact .adress {
    font-size: x-small;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 111, ../scss/_contact.scss */
  #contact .adress h4 {
    font-size: 20px;
  }
}

/*----------------------------------------*\
    9.FOOTER
\*----------------------------------------*/
/* line 2, ../scss/_footer.scss */
#footer .container_copyright {
  text-align: center;
}
/* line 5, ../scss/_footer.scss */
#footer .footer_title {
  text-align: center;
  font-weight: 100;
  letter-spacing: 5px;
  color: black !important;
}
/* line 11, ../scss/_footer.scss */
#footer .p_center {
  text-align: center;
}
/* line 14, ../scss/_footer.scss */
#footer .contact_us {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1px;
  width: 130px;
  border-radius: 7px;
  transition: all .3s;
  display: block;
  margin: auto;
  font-weight: 500;
}
/* line 24, ../scss/_footer.scss */
#footer .contact_us:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s;
}
/* line 28, ../scss/_footer.scss */
#footer .logo_container {
  display: flex;
  justify-content: center;
}
/* line 32, ../scss/_footer.scss */
#footer .logo {
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  transition: all .3s;
}
/* line 38, ../scss/_footer.scss */
#footer .logo:hover {
  opacity: .6;
  transition: all .3s;
}
/* line 42, ../scss/_footer.scss */
#footer .page-footer {
  background-color: #9dbd38 !important;
}
/* line 45, ../scss/_footer.scss */
#footer .copyright {
  color: black !important;
}

/*----------------------------------------*\
    10.LOGIN_PAGE
\*----------------------------------------*/
/* line 3, ../scss/_login.scss */
#log .logo img {
  /*width: 350px;*/
  height: 350px;
  margin-top: 20px;
}
/* line 9, ../scss/_login.scss */
#log .row_login {
  margin-top: 100px;
}

/*----------------------------------------*\
    11.BOOKING
\*----------------------------------------*/
/* line 2, ../scss/_booking.scss */
#booking .parallax_booking {
  min-height: 250px;
}
/* line 5, ../scss/_booking.scss */
#booking .text_perso {
  color: #80cbc4;
}
/* line 8, ../scss/_booking.scss */
#booking .col_table {
  padding: 0px 10px !important;
  float: none !important;
}
/* line 12, ../scss/_booking.scss */
#booking table {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 16, ../scss/_booking.scss */
#booking .info_content {
  text-align: center;
}
/* line 19, ../scss/_booking.scss */
#booking .place {
  font-weight: 900;
  text-transform: uppercase;
}
/* line 23, ../scss/_booking.scss */
#booking .btn_modal {
  margin: 15px auto;
  display: block;
  width: 300px;
}
/* line 28, ../scss/_booking.scss */
#booking .big_container_custom {
  margin: 10px;
  width: auto;
  max-width: 98%;
}
/* line 33, ../scss/_booking.scss */
#booking .deleteMarchandiseAction {
  cursor: pointer;
}

/*----------------------------------------*\
    12.LIST ALL EVENEMENTS
\*----------------------------------------*/
/* line 2, ../scss/_list_all_evenements.scss */
#list_all_evenements .parallax_evenement {
  min-height: 200px;
}
/* line 5, ../scss/_list_all_evenements.scss */
#list_all_evenements .evenement_container {
  text-align: center;
  margin: auto;
}
/* line 9, ../scss/_list_all_evenements.scss */
#list_all_evenements .evenement_content {
  border-top: 2px solid teal;
  border-bottom: 2px solid teal;
  height: auto;
  overflow: auto;
  margin: 15px;
  transition: 1s;
  box-shadow: 3px 3px 7px gray;
}
/* line 18, ../scss/_list_all_evenements.scss */
#list_all_evenements .place {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}
/* line 23, ../scss/_list_all_evenements.scss */
#list_all_evenements .adress, #list_all_evenements .indication {
  font-size: 16px;
}
/* line 26, ../scss/_list_all_evenements.scss */
#list_all_evenements .evenement_btn {
  margin: 10px;
}
/* line 29, ../scss/_list_all_evenements.scss */
#list_all_evenements .e_content_child {
  overflow: auto;
  height: 220px;
  padding-left: 10px;
  padding-right: 10px;
}

/*----------------------------------------*\
    13.Errors
\*----------------------------------------*/
/* line 1, ../scss/_errors.scss */
#errors {
  /*----------------------------------------
   PARALAX
  ----------------------------------------*/
}
/* line 5, ../scss/_errors.scss */
#errors .parallax-container {
  min-height: 500px;
}
/* line 10, ../scss/_errors.scss */
#errors p {
  text-align: center;
  font-size: large;
}
