{% extends 'base.html.twig' %}

{% block body %}
<div id="contact">
	<meta http-equiv="refresh" content="3; url={{ path('core_contact') }}"/>
	<div class="parallax-container">
		<div class="parallax">
			<img src="{{ asset('bundles/core/img/background/paralaxcontact.jpg') }}" style="min-width: 100vh;min-height: 100%;max-width: 100%;">
		</div>
	</div>
	
	<div class="section container">
		<div class="row">
			<div class="col m8 offset-m2 s12 center-align">
				<h4 class="title form center-align">Votre Demande à bien été prise en compte.</h4>
			</div>
		</div>
		<div class="row">
			<div class="col m12 s12 center-align">
				<i class="fa fa-spinner fa-spin fa-4x fa-fw center-align"></i>
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
		<div class="parallax-container">
			<div class="parallax">
				<img src="{{ asset('bundles/core/img/background/paralaxcontact.jpg') }}" style="min-width: 100vh;min-height: 100%;max-width: 100%;">
			</div>
		</div>
</div>
{% endblock %}