{% extends '@Core/layout.html.twig' %}

{% block body %}
	<div id="booking">
		<div class="container">
			<div class="row">
				<div class="col s6">
					<h5>Lieu</h5>
					{{ form(formlieu) }}
				</div>
				<div class="col s6">
					<h5>Date</h5>
					{{ form(formdate) }}
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h5>Stock</h5>
					{{ form(formstock) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}