{% extends '@Core/layout.html.twig' %}

{% block body %}
	<div id="booking">
		<div class="container">
			<div class="row">
				<div class="col s6">
					<h1>Lieu</h1>
					{{ form(formlieu) }}
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<h1>Date</h1>
					{{ form(formdate) }}
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<h1>Stock</h1>
					{{ form(formstock) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}