{% extends '@Core/layout.html.twig'%}

{% block title %}Page_Contact!{% endblock %}

{% block body %}
<div id="contact">
	<div class="parallax-container">
		<div class="parallax">
			<img src="https://nancyaruegg.files.wordpress.com/2015/03/oak-sapling-15.jpg">
		</div>
	</div>
	
	<div class="section contact">
		<form class="col s12">
			<div class="row form">
				<h3 class="title form center-align">Prendre Contact avec Nous</h3>
				<div class="input-field col s8 offset-s2">
					<i class="material-icons prefix">account_circle</i>
					<input id="icon_prefix" type="text" class="validate">
					<label for="icon_prefix">Votre Nom</label>
				</div>
				<div class="input-field col s8 offset-s2">
					<i class="material-icons prefix">account_circle</i>
					<input id="icon_prefix" type="text" class="validate">
					<label for="icon_prefix">Votre Pénom</label>
				</div>
				<div class="row mail">
					<div id="div_mail" class="input-field col s8 offset-s2">
						<i class="material-icons prefix">mail</i>
						<input id="email" type="email" class="validate">
						<label for="email" data-error="wrong" data-success="right">Email</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="div_message" class="input-field col s8 offset-s2">
					<i class="material-icons prefix">mode_edit</i>
					<textarea id="icon_prefix2" class="materialize-textarea"></textarea>
					<label for="icon_prefix2">Votre Message</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 center align">
					<button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</form>
		
		<div class="row">
			<div class="col s4 center-align adress">
				<h4>Notre Adresse</h4>
				<p>8 Rue du Bourg</p>
				<p>45120 Girolles</p>
				<p>09 61 54 20 34</p>
			</div>
				
			<div class="col s6 offset-s2 center-align google-maps">
				<iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=8%20Rue%20du%20Bourg%2045120%20Girolles&key=AIzaSyAu1VylJNEbz-IA1XLcJQwST8utKQCR6X4" allowfullscreen></iframe>			</div>
		</div>
	</div>
	
	<div class="parallax-container">
		<div class="parallax">
			<img src="https://nancyaruegg.files.wordpress.com/2015/03/oak-sapling-15.jpg">
		</div>
	</div>
</div>

{% endblock %}