{% extends '@Core/layout.html.twig'%}

	{% block menu %}
		<section class="home">
			<div class="row open-overlay">
				{#<i class="material-icons large grey-text">dashboard</i>#}
				<a class="col s1 offset-s11 waves-effect waves-light btn menu-btn"></a>
				<div class="menu_text">Menu</div>
			</div>
		</section>
	{% endblock %}


	{% block body %}
		<div class="home_index">
			<div class="container">
				<div class="row">
					<h1 class="titre">Le Jardin De La Vallée</h1>
				</div>
			</div>
		</div>
	{% endblock %}


	{% block javascripts %}
	
		{{ parent() }}

		<script src="{{ asset('bundles/core/js/home.js') }}"></script>
	
	{% endblock %}



