{% extends '@Core/layout.html.twig'%}

{% block stylesheets %}
	<!-- Call Css Home_Page-->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/HomePage.css') }}"/>
{% endblock %}

	{% block menu %}
		<section class="home home_index">
			<div class="open-overlay">
				<span class="bar-top"></span>
				<span class="bar-middle"></span>
				<span class="bar-bottom"></span>
			</div>
		</section>
	{% endblock %}


{% block body %}

{% endblock %}



