{% extends 'base.html.twig' %}

{% block body %}

    <!-- Header -->
<div class="test">
    <div class="container seb_container_custom">
        <div class="row">


            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image">
                        <img width="400" height="330" src="{{ asset('bundles/les2mains/img/monkey.jpg') }}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque eum hic illo incidunt, nemo neque
                                nobis omnis placeat quae qui ratione reiciendis sit tempora ut. Alias amet eveniet soluta!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolorum eaque earum eveniet iste
                                magnam odio quasi repellendus soluta voluptatem. Ex fugiat nisi optio provident voluptate. Ratione sed
                                tempore voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur delectus deserunt
                                distinctio ex explicabo iste odio officia officiis optio placeat possimus quaerat quisquam sit suscipit,
                                temporibus vel voluptates voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Ab aspernatur delectus excepturi fugit hic laudantium, necessitatibus perspiciatis quam, quas,
                                qui tempora temporibus ullam unde vitae voluptates? Consectetur nihil provident quam?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi esse hic praesentium quis, sunt vero. Blanditiis consequuntur est excepturi illo, maxime porro quibusdam quo recusandae? Quaerat quas ratione sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque autem blanditiis commodi consequuntur debitis dolore exercitationem, expedita magni minima nam, natus necessitatibus nihil nobis nulla officiis, quae ratione voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, assumenda beatae, deserunt dolor dolorum id incidunt laborum libero nesciunt nostrum perspiciatis ratione saepe sit ullam unde ut veniam veritatis voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cum ducimus eius eos, eveniet excepturi exercitationem hic incidunt iure libero modi nesciunt nobis repellendus, rerum tempore totam ut velit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet atque consequuntur, deserunt fuga illum magni modi nemo nisi non quae quasi quos sed tempora temporibus totam unde velit, voluptate?
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}