{% extends 'les2MainsBundle:User:layout.html.twig'%}
{% block body %}
	<div class="add_page">
		<div class="container">
			{{ form_start(form) }}
			<div class="row col-sm-12">
				{{ form_row(form.titre) }}
			</div>
			<div class="row col-sm-12">
				{{ form_row(form.contenu) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
