{% extends 'base.html.twig'%}

{% block title %}Le jardin dans la Vallée!{% endblock %}

{% block body %}
	<header>
		<h2> Les Jardin de la Vallée </h2>
		
		<ul>
			<li>Nous</li>
			<li>Stages</li>
			<li>Nos Activités</li>
			<li>Nos Produits</li>
			<li>Nous Trouver</li>
		</ul>
	</header>
	
{% endblock %}

{% block javascripts %}{% endblock %}