{% extends 'les2MainsBundle:User:layout.html.twig'%}

{% block stylesheets %}
	<!-- Call Css Home_Page-->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/les2mains/css/HomePage.css') }}"/>
{% endblock %}

{% block body %}

	<header>
		<h2> Le Jardin de la Vallée </h2>

		<div class="overlay-navigation">
			<nav role="navigation">
				<ul>
					<li><a href="#">Nous
							<div class="onglet">
							<a href="#">Nos activités</a>
							</div>
						</a>
					</li>
					<li><a href="#">Nos actualités
					<div class="onglet">
						<a href="#"></a>
						<a href="#"></a>
					</div>
						</a>

					<li><a href="#" >Nos stages
					<div class="onglet">
						<a href="#">Le corps</a>
						<a href="#">La bouche</a>
						<a href="#">La terre</a>
					</div>
						</a>
					<li><a href="#">Nos produits></a>

{% endblock %}



