{% extends 'base.html.twig' %}

{% block nav %}
	<div class="overlay-navigation">
		<nav role="navigation">
			<ul>
				<li><a href="{{ path('les2_mains_nous') }}">Nous
						<div class="onglet">
						</div>
					</a>
				</li>
				<li>
					<a href="#">Nos actualités
						<div class="onglet">
							<a href="#"></a>
							<a href="#"></a>
						</div>
					</a>
				<li><a href="#" >Nos stages
						<div class="onglet">
							<a href="#">Le corps</a>
							<a href="#">La bouche</a>
							<a href="#">La Terre</a>
						</div>
					</a>
				<li><a href="#">Nos produits></a>
				
				<li><a href="#" data-content="Don't hesitate">Contact</a></li>
			</ul>
		</nav>
	</div>
	<section class="home">
		<div class="open-overlay">
			<span class="bar-top"></span>
			<span class="bar-middle"></span>
			<span class="bar-bottom"></span>
		</div>
	</section>
	
{% endblock %}
